{% extends 'base.html' %}

{% block head %}
<title>Armours</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Hello. Welcome to the armours page!</h1 style="text-align: center;">
    <h2 style="text-align: center;">Enter the details of your new weapon below:</h2>
    <div class="form">
        <form action="weapons.html" method="POST">
            <label>Armour Name: <input type="text" name="aName" id="aName" required></label>
            <br>
            <label>Armour Type: <input type="text" name="aType" id="aType"></label>
            <br>
            <label>Base Armour Class: <input type="text" name="aBase" id="aBase"></label>
            <br>
            <label>Description: <input type="text" name="aDesc" id="aDesc"></label>
            <br>
            <input type="submit" value="Add Armour">
            <br>
        </form>
    </div>
    {% if armours|length >= 1 %}
    <h2 style="text-align: center;"><b><u>Your Armours:</u></b></h2>
    <table>
        <tr>
            <th><b><u>Armour Name:</u></b></th>
            <th><b><u>Armour Type:</u></b></th>
            <th><b><u>Base AC:</u></b></th>
            <th><b><u>Actions:</u></b></th>
        </tr>
        {% for armour in armours %}
            <tr>
                <td>{{ armour.aName }}</td>
                <td>{{ armour.aType }}</td>
                <td>{{ armour.aBase }}</td>
                <td>
                    <a href="/updateArmour/{{armour.aID}}">Edit Armour</a>
                    <br>
                    <a href="/deleteArmour/{{armour.aID}}">Delete Armour</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>

{% endblock %}