{% extends 'base.html' %}

{% block head %}
{{super()}}
<title>Characters</title>
{% endblock %}

{% block content %}
<div class="content">
    <h1>Hello. Welcome to the characters page!</h1>
    <button id="characterDashboardButton" onclick="window.location.href = './dashboard.html';">Home</button>
    <h2>Enter your character's details below:</h2>
    <div class="form">
        <form action="characters.html" method="POST" enctype="multipart/form-data">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cPic">Reference Picture: </label>
                    <input type="file" name="cPic" class="form-control-file" id="cPic">
                </div>

                <div class="form-group col-md-4">
                    <label for="cName">Name: </label>
                    <input type="text" name="cName" class="form-control" id="cName" required>
                </div>
            
                <div class="form-group col-md-4">
                    <label for="cAge">Age: </label>
                    <input type="number" name="cAge" class="form-control" id="cAge">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cGender">Gender: </label>
                    <select name="cGender" class="form-control" id="cGender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="cRace">Race: </label>
                    <select name="cRace" class="form-control" id="cRace">
                        <option value="Dragonborn">Dragonborn</option>
                        <option value="Dwarf">Dwarf</option>
                        <option value="Elf">Elf</option>
                        <option value="Gnome">Gnome</option>
                        <option value="Half-Elf">Half-Elf</option>
                        <option value="Halfling">Halfling</option>
                        <option value="Half-Orc">Half-Orc</option>
                        <option value="Human">Human</option>
                        <option value="Tiefling">Tiefling</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="cClass">Class: </label>
                    <select name="cClass" class="form-control" id="cClass">
                        <option value="Barbarian">Barbarian</option>
                        <option value="Bard">Bard</option>
                        <option value="Cleric">Cleric</option>
                        <option value="Druid">Druid</option>
                        <option value="Fighter">Fighter</option>
                        <option value="Monk">Monk</option>
                        <option value="Paladin">Paladin</option>
                        <option value="Ranger">Ranger</option>
                        <option value="Rogue">Rogue</option>
                        <option value="Sorcerer">Sorcerer</option>
                        <option value="Warlock">Warlock</option>
                        <option value="Wizard">Wizard</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="cDesc">Description/Backstory: </label>
                <input type="text" name="cDesc" class="form-control" id="cDesc">
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="cStr">Strength: </label>
                    <input type="number" name="cStr" class="form-control" id="cStr">
                </div>
            
                <div class="form-group col-md-2">
                    <label for="cDex">Dexterity: </label>
                    <input type="number" name="cDex" class="form-control" id="cDex">
                </div>
                
                <div class="form-group col-md-2">
                    <label for="cCon">Constitution: </label>
                    <input type="number" name="cCon" class="form-control" id="cCon">
                </div>

                <div class="form-group col-md-2">
                    <label for="cInt">Intelligence: </label>
                    <input type="number" name="cInt" class="form-control" id="cInt">
                </div>
                
                <div class="form-group col-md-2">
                    <label for="cWis">Wisdom: </label>
                    <input type="number" name="cWis" class="form-control" id="cWis">
                </div>
                
                <div class="form-group col-md-2">
                    <label for="cCha">Charisma: </label>
                    <input type="number" name="cCha" class="form-control" id="cCha">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Character</button>
            
        </form>
    </div>
    {% if characters|length >= 1 %}
    <h2><b><u>Your Characters:</u></b></h2>
    <table class="table table-bordered table-sm">
        <thead class="thead">
            <tr>
                <th scope="col"></th>
                <th scope="col"><b><u>Reference Image:</u></b></th>
                <th scope="col"><b><u>Name:</u></b></th>
                <th scope="col"><b><u>Age:</u></b></th>
                <th scope="col"><b><u>Race:</u></b></th>
                <th scope="col"><b><u>Actions:</u></b></th>
            </tr>
        </thead>

        <tbody>
            {% for character in characters %}
                <tr>
                    <th scope="row"></th>
                    <td class="w-25"><img src="{{ character.cPicPath }}" alt="ref-img" class="img-fluid"></td>
                    <td>{{ character.cName }}</td>
                    <td>{{ character.cAge }}</td>
                    <td>{{ character.cRace }}</td>
                    <td>
                        <a href="/updateCharacter/{{character.cID}}">Edit Character</a>
                        <br>
                        <a href="/deleteCharacter/{{character.cID}}">Delete Character</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}