{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<h1>Welcome to the dashboard! Choose a category:</h1>

<div id="dashboardButtons">
    <button id="dashboardCharacterButton" onclick="window.location.href = './characters.html';">Characters</button>
    <button id="dashboardWeaponButton" onclick="window.location.href = './weapons.html';">Weapons</button>
    <button id="dashboardArmourButton" onclick="window.location.href = './armours.html';">Armours</button>
    <button id="dashboardLocationButton" onclick="window.location.href = './locations.html';">Locations</button>
</div>
{% endblock %}