{% extends 'base.html' %}

{% block head %}
<title>Locations</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="./characters.html">Characters</a>
                <a class="nav-item nav-link" href="./weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="./armours.html">Armours</a>
                <a class="nav-item nav-link active" href="./locations.html">Locations <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="./login.html">Login</a>
                <a class="nav-item nav-link" href="./signup.html">Sign-Up</a>
            </div>
        </div>
        <form class="form-inline" action="/logout">
            <button type="submit" class="btn btn-outline-link">Logout</button>
        </form>
    </nav>
    <h1>Hello. Welcome to the locations page!</h1>
    <h2>Enter the details of your new location below:</h2>
    <div class="form">
        <form action="locations.html" method="POST">
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Location Name: </label>
                    <input type="text" name="lName" class="form-control" id="lName" required>
                </div>  

                <div class="form-group col-md-6">
                    <label>Description: </label>
                    <input type="text" name="lDesc" class="form-control" id="lDesc">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Location</button>
            
        </form>
    </div>
    {% if locations|length >= 1 %}
    <h2><b><u>Your Locations:</u></b></h2>
    <table class="table table-bordered table-sm">

        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="w-25"><b><u>Location Name:</u></b></th>
                <th scope="col"><b><u>Description:</u></b></th>
                <th scope="col"><b><u>Actions:</u></b></th>
            </tr>
        </thead>
        
        <tbody>
            {% for location in locations %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ location.lName }}</td>
                    <td>{{ location.lDesc }}</td>
                    <td>
                        <a href = "/updateLocation/{{location.lID}}">Edit Location</a>
                        <br>
                        <a href = "/deleteLocation/{{location.lID}}">Delete Location</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% endif %}
</div>

{% endblock %}