{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<title>Sign-Up Page</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="./characters.html">Characters</a>
                <a class="nav-item nav-link" href="./weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="./armours.html">Armours</a>
                <a class="nav-item nav-link" href="./locations.html">Locations</a>
                <a class="nav-item nav-link" href="./login.html">Login</a>
                <a class="nav-item nav-link active" href="./signup.html">Sign-Up <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    <form method="POST" action="/signup.html">
        <h2><b><u>Sign-Up Below:</u></b></h2>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.uName) }}
            </div>
            
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.pwd) }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign-Up</button>
    </form>
</div>
{% endblock %}