{% extends 'base.html' %}

{% block head %}
<title>Locations: Update Location</title>
{% endblock %}

{% block content %}
<div class="content">
    <button id="characterDashboardButton" onclick="window.location.href = '../dashboard.html';" class="btn btn-danger">Home</button>
    <h1>Update your location below:</h1>

    <div class="form">
        <form action="/updateLocation/{{location.lID}}" method="POST">
            <label>Location Name: <input type="text" name="lName" id="lName" value="{{location.lName}}"></label>
            <br>
            <label>Description: <input type="text" name="lDesc" id="lDesc" value="{{location.lDesc}}"></label>
            <br>
            <input type="submit" value="Save Changes">
        </form>
    </div>

</div>
{% endblock %}