{% extends 'base.html' %}

{% block head %}
<title>Armours: Update Armour</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="./characters.html">Characters</a>
                <a class="nav-item nav-link" href="./weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="./armours.html">Armours</a>
                <a class="nav-item nav-link" href="./locations.html">Locations</a>
            </div>
        </div>
    </nav>
    <h1>Update your armour below:</h1>

    <div class="form">
        <form action="/updateArmour/{{armour.aID}}" method="POST">
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Armour Name: </label>
                    <input type="text" name="aName" class="form-control" id="aName" value="{{armour.aName}}">
                </div>

                <div class="form-group col-md-4">
                    <label>Armour Type: </label>
                    <select name="aType" class="form-control" id="aType">
                        {% if armour.aType == "Light Armour" %}
                            <option value="Light Armour" selected>Light Armour</option>
                        {% else %}
                            <option value="Light Armour">Light Armour</option>
                        {% endif %}

                        {% if armour.aType == "Medium Armour" %}
                            <option value="Medium Armour" selected>Medium Armour</option>
                        {% else %}
                            <option value="Medium Armour">Medium Armour</option>
                        {% endif %}

                        {% if armour.aType == "Heavy Armour" %}
                            <option value="Heavy Armour" selected>Heavy Armour</option>
                        {% else %}
                            <option value="Heavy Armour">Heavy Armour</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label>Base AC: </label>
                    <input type="text" name="aBase" class="form-control" id="aBase" value="{{armour.aBase}}">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Description: </label>
                    <input type="text" name="aDesc" class="form-control" id="aDesc" value="{{armour.aDesc}}">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

</div>
{% endblock %}