{% extends 'base.html' %}

{% block head %}
<title>Locations: Update Location</title>
{% endblock %}

{% block content %}
<div class="content">
    <button id="characterDashboardButton" onclick="window.location.href = '../dashboard.html';" class="btn btn-danger">Home</button>
    <h1>Update your location below:</h1>

    <div class="form">
        <form action="/updateLocation/{{location.lID}}" method="POST">
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Location Name: </label>
                    <input type="text" name="lName" id="lName" value="{{location.lName}}" class="form-control">
                </div>
                
                <div class="form-group col-md-6">
                    <label>Description: </label>
                    <input type="text" name="lDesc" id="lDesc" value="{{location.lDesc}}" class="form-control">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

</div>
{% endblock %}