{% extends 'base.html' %}

{% block head %}
<title>Armours: View Armour</title>
{% endblock %}

{% block content %}
<div class="content">
    <button id="characterDashboardButton" onclick="window.location.href = '../dashboard.html';" class="btn btn-danger">Home</button>
    <h1>{{armour.aName}}'s Details:</h1>

    <div class="form">
        <form>
            <div class="form-group">
                <label>Armour Name: </label>
                <p><b>{{armour.aName}}</b></p>
            </div>

            <div class="form-group">
                <label>Armour Type: </label>
                <p><b>{{armour.aType}}</b></p>
            </div>

            <div class="form-group">
                <label>Base AC: </label>
                <p><b>{{armour.aBase}}</b></p>
            </div>

            <div class="form-group">
                <label>Description: </label>
                <p><b>{{armour.aDesc}}</b></p>
            </div>
        </form>
    </div>

</div>
{% endblock %}