{% extends 'base.html' %}

{% block head %}
<title>Weapons: View Weapon</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="./characters.html">Characters</a>
                <a class="nav-item nav-link" href="./weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="./armours.html">Armours</a>
                <a class="nav-item nav-link" href="./locations.html">Locations</a>
            </div>
        </div>
    </nav>
    <button id="characterDashboardButton" onclick="window.location.href = '../dashboard.html';" class="btn btn-danger">Home</button>
    <h1>{{weapon.wName}}'s Details:</h1>

    <div class="form">
        <form enctype="multipart/form-data">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Reference Image: </label>
                    <br>
                    <img src="../{{ weapon.wPicPath }}" alt="ref-img" class="img-fluid" style="max-height: 25vh;">
                </div>
                
                <div class="form-group col-md-6">
                    <label>Weapon Name: </label>
                    <p><b>{{weapon.wName}}</b></p>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Weapon Type: </label>
                    <p><b>{{weapon.wType}}</b></p>
                </div>
                
                <div class="form-group col-md-4">
                    <label>Damage Type: </label>
                    <p><b>{{weapon.wDamage}}</b></p>
                </div>
                
                <div class="form-group col-md-4">
                    <label>Damage Dice: </label>
                    <p><b>{{weapon.wDice}}</b></p>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Description: </label>
                    <p><b>{{weapon.wDesc}}</b></p>
                </div>
            </div>
            
        </form>
    </div>

</div>
{% endblock %}