{% extends 'base.html' %}

{% block head %}
<title>Characters: View Character</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="../dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="../characters.html">Characters</a>
                <a class="nav-item nav-link" href="../weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="../armours.html">Armours</a>
                <a class="nav-item nav-link" href="../locations.html">Locations</a>
                <a class="nav-item nav-link" href="../login.html">Login</a>
                <a class="nav-item nav-link" href="../signup.html">Sign-Up</a>
            </div>
        </div>
        <form class="form-inline" action="/logout">
            <button type="submit" class="btn btn-outline-link">Logout</button>
        </form>
    </nav>
    <h1>{{character.cName}}'s Details:</h1>

    <div class="form">
        <form enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cPic">Reference Image: </label>
                    <br>
                    <img src="../{{ character.cPicPath }}" alt="ref-img" class="img-fluid" style="max-height: 25vh;">
                </div>

                <div class="form-group col-md-4">
                    <label for="cName">Name: </label>
                    <p><b>{{character.cName}}</b></p>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="cAge">Age: </label>
                    <p><b>{{character.cAge}} Years Old</b></p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cGender">Gender:</label>
                    <p><b>{{character.cGender}}</b></p>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="cRace">Race: </label>
                    <p><b>{{character.cRace}}</b></p>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="cClass">Class: </label>
                    <p><b>{{character.cClass}}</b></p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="cDesc">Description/Backstory: </label>
                <p><b>{{character.cDesc}}</b></p>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="cStr">Strength: </label>
                    <p><b>{{character.cStr}}</b></p>
                </div>
            
                <div class="form-group col-md-2">
                    <label for="cDex">Dexterity: </label>
                    <p><b>{{character.cDex}}</b></p>
                </div>

                <div class="form-group col-md-2">
                    <label for="cCon">Constitution: </label>
                    <p><b>{{character.cCon}}</b></p>
                </div>

                <div class="form-group col-md-2">
                    <label for="cInt">Intelligence: </label>
                    <p><b>{{character.cInt}}</b></p>
                </div>

                <div class="form-group col-md-2">
                    <label for="cWis">Wisdom: </label>
                    <p><b>{{character.cWis}}</b></p>
                </div>

                <div class="form-group col-md-2">
                    <label for="cCha">Charisma: </label>
                    <p><b>{{character.cCha}}</b></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}