{% extends 'base.html' %}

{% block head %}
<title>Armours: View Armour</title>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./dashboard.html">Dashboard</a>
                <a class="nav-item nav-link" href="./characters.html">Characters</a>
                <a class="nav-item nav-link" href="./weapons.html">Weapons</a>
                <a class="nav-item nav-link" href="./armours.html">Armours</a>
                <a class="nav-item nav-link" href="./locations.html">Locations</a>
            </div>
        </div>
    </nav>
    <button id="characterDashboardButton" onclick="window.location.href = '../dashboard.html';" class="btn btn-danger">Home</button>
    <h1>{{armour.aName}}'s Details:</h1>

    <div class="form">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Armour Name: </label>
                    <p><b>{{armour.aName}}</b></p>
                </div>

                <div class="form-group col-md-4">
                    <label>Armour Type: </label>
                    <p><b>{{armour.aType}}</b></p>
                </div>

                <div class="form-group col-md-4">
                    <label>Base AC: </label>
                    <p><b>{{armour.aBase}}</b></p>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Description: </label>
                    <p><b>{{armour.aDesc}}</b></p>
                </div>
            </div>

        </form>
    </div>

</div>
{% endblock %}