{% extends 'base.html' %}

{% block head %}
<title>Weapons</title>
{% endblock %}

{% block content %}
<div class="content">
    <h1>Hello. Welcome to the weapons page!</h1>
    <button id="characterDashboardButton" onclick="window.location.href = './dashboard.html';" class="btn btn-danger">Home</button>
    <h2>Enter the details of your new weapon below:</h2>
    <div class="form">
        <form action="weapons.html" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="wPic">Reference Picture: </label>
                <input type="file" name="wPic" class="form-control-file" id="wPic">
            </div>
            
            <div class="form-group">
                <label for="wName">Weapon Name: </label>
                <input type="text" name="wName" class="form-control" id="wName" required>
            </div>

            <div class="form-group">
                <label for="wType">Weapon Type: </label>
                <select name="wType" class="form-control" id="wType">
                    <option value="Simple">Simple</option>
                    <option value="Martial">Martial</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="wDamage">Damage Type: </label>
                <select name="wDamage" class="form-control" id="wDamage">
                    <option value="Bludgeoning">Bludgeoning</option>
                    <option value="Piercing">Piercing</option>
                    <option value="Slashing">Slashing</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="wDice">Damage Dice: </label>
                <select name="wDice" class="form-control" id="wDice">
                    <option value="d4">d4</option>
                    <option value="d6">d6</option>
                    <option value="d8">d8</option>
                    <option value="d10">d10</option>
                    <option value="d12">d12</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="wDesc">Description: </label>
                <input type="text" name="wDesc" class="form-control" id="wDesc">
            </div>
            
            <button type="submit" class="btn btn-primary">Add Weapon</button>
            
        </form>
    </div>
    {% if weapons|length >= 1 %}
    <h2><b><u>Your Weapons:</u></b></h2>
    <table>
        <tr>
            <th><b><u>Reference Image:</u></b></th>
            <th><b><u>Weapon Name:</u></b></th>
            <th><b><u>Weapon Type:</u></b></th>
            <th><b><u>Damage Type:</u></b></th>
            <th><b><u>Damage Dice:</u></b></th>
            <th><b><u>Actions:</u></b></th>
        </tr>
        {% for weapon in weapons %}
            <tr>
                <td><img src="{{ weapon.wPicPath }}" alt="ref-img"></td>
                <td>{{ weapon.wName }}</td>
                <td>{{ weapon.wType }}</td>
                <td>{{ weapon.wDamage }}</td>
                <td>{{ weapon.wDice }}</td>
                <td>
                    <a href="/viewWeapon/{{weapon.wID}}">View Weapon</a>
                    <br>
                    <a href="/updateWeapon/{{weapon.wID}}">Edit Weapon</a>
                    <br>
                    <a href="/deleteWeapon/{{weapon.wID}}">Delete Weapon</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>

{% endblock %}