{% extends 'base.html' %}

{% block head %}
<title>Weapons</title>
{% endblock %}

{% block content %}
<div class="content">
    <h1 style="text-align: center;">Hello. Welcome to the weapons page!</h1>
    <h2 style="text-align: center;">Enter the details of your new weapon below:</h2>
    <div class="form">
        <form action="weapons.html" method="POST" enctype="multipart/form-data">
            <label>Reference Picture: <input type="file" name="wPic" id="wPic"></label>
            <br>
            <label>Weapon Name: <input type="text" name="wName" id="wName" required></label>
            <br>
            <label>Weapon Type: <select name="wType" id="wType">
                <option value="Simple">Simple</option>
                <option value="Martial">Martial</option>
            </select></label>
            <br>
            <label>Damage Type: <select name="wDamage" id="wDamage">
                <option value="Bludgeoning">Bludgeoning</option>
                <option value="Piercing">Piercing</option>
                <option value="Slashing">Slashing</option>
            </select></label>
            <br>
            <label>Damage Dice: <select name="wDice" id="wDice">
                <option value="d4">d4</option>
                <option value="d6">d6</option>
                <option value="d8">d8</option>
                <option value="d10">d10</option>
                <option value="d12">d12</option>
            </select></label>
            <br>
            <label>Description: <input type="text" name="wDesc" id="wDesc"></label>
            <br>
            <input type="submit" value="Add Weapon">
            <br>
        </form>
    </div>
    {% if weapons|length >= 1 %}
    <h2 style="text-align: center;"><b><u>Your Weapons:</u></b></h2>
    <table>
        <tr>
            <th><b><u>Reference Image:</u></b></th>
            <th><b><u>Weapon Name:</u></b></th>
            <th><b><u>Weapon Type:</u></b></th>
            <th><b><u>Damage Type:</u></b></th>
            <th><b><u>Damage Dice:</u></b></th>
            <th><b><u>Actions:</u></b></th>
        </tr>
        {% for weapon in weapons %}
            <tr>
                <td><img src="{{ weapon.wPicPath }}" alt="ref-img"></td>
                <td>{{ weapon.wName }}</td>
                <td>{{ weapon.wType }}</td>
                <td>{{ weapon.wDamage }}</td>
                <td>{{ weapon.wDice }}</td>
                <td>
                    <a href="/updateWeapon/{{weapon.wID}}">Edit Weapon</a>
                    <br>
                    <a href="/deleteWeapon/{{weapon.wID}}">Delete Weapon</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>

{% endblock %}